body {
  margin: 0;
  line-height: 1.1;
  font-family: helvetica;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next {
  position: relative;
  z-index: 0;
}

:root {
  --border-color: #e0e6f0;
  --primary: #0078b3;
  --primary-hover: #0092db;
  --gray-100: #e8edf7;
}

.ReactModal__Overlay {
  display: flex;
  align-items: center;
}

.ReactModal__Content {
  width: 700px;
  margin: auto;
}
